/* =======HELPER======== */


/* ====FLEXBOX CONTAINER==== 
   ====DISPLAY==== */

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

.d-inline-block {
    display: inline-block;
}

.d-inline-flex {
    display: inline-flex;
}

.d-none {
    display: none;
}


/* ====FLEX-DIRECTION==== */

.f-direction-col {
    flex-direction: column;
}

.f-direction-row {
    flex-direction: row;
}


/* ====FLEX-WRAP==== */

.f-wrap {
    flex-wrap: wrap;
}


/* ====JUSTIFY-CONTENT==== */

.jc-start {
    justify-content: start;
}

.jc-end {
    justify-content: end;
}

.jc-center {
    justify-content: center;
}

.jc-space-between {
    justify-content: space-between;
}

.jc-space-around {
    justify-content: space-around;
}

.jc-space-evenly {
    justify-content: space-evenly;
}


/* ====ALIGN-ITEM===== */

.alt-start {
    align-items: flex-start;
}

.alt-center {
    align-items: center;
}

.alt-end {
    align-items: flex-end;
}


/* ====ALIGN-CONTENT===== */

.alc-start {
    align-content: flex-start;
}

.alc-end {
    align-content: flex-end;
}

.alc-center {
    align-content: center;
}

.alc-space-between {
    align-content: space-between;
}

.alc-space-around {
    align-content: space-around;
}


/* ====FLEXBOX ITEM==== 
   ====ALIGN-SELF==== */

.als-start {
    align-self: self-start;
}

.als-end {
    align-self: self-end;
}

.als-end {
    align-self: center;
}


/* ====GRID==== 
   ===JUSTIFY-ITEM===*/

.jfi-start {
    justify-items: start;
}

.jfi-end {
    justify-items: end;
}

.jfi-center {
    justify-items: center;
}


/* ====POSITION==== */

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}


/* ====BACKGROUND-IMAGES==== */

.bg-images {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-none {
    background: none;
}


/* ====OVER-FLOW==== */

.o-hidden {
    overflow: hidden;
}

.o-visible {
    overflow: visible;
}

.o-scroll {
    overflow: scroll;
}

.o-auto {
    overflow: auto;
}


/* ====CURSOR:POINTER==== */

.c-pointer {
    cursor: pointer;
}


/* ====BORDER:NONE==== */

.b-none {
    border: none;
}


/* ====OUTLINE:NONE==== */

.ol-none {
    outline: none;
}