* {
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

html {
    font-size: 62.5%;
    font-family: 'SVN-Gilroy Light';
    font-weight: 700;
    font-style: normal;
}

body p {
    display: block;
    margin-block-start: unset;
    margin-block-end: unset;
}


/* HEADER */

.logo {
    cursor: pointer;
    margin: 0;
}

.header-desktop {
    /* border: 1px solid blue; */
    margin: 0 auto;
    position: absolute;
    display: flex;
    width: 100%;
    padding: 2.5rem 5rem;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
}

.menu {
    display: flex;
    align-items: flex-start;
    gap: 4.8rem;
    margin: 0;
}

.menu .bar-menu {
    display: none;
    font-size: 3rem;
    cursor: pointer;
    color: #003459;
    font-family: none;
}

.sidenav {
    display: flex;
    gap: 4.8rem;
    /* width: 100%; */
    overflow-x: hidden;
    transition: 0.5s ease;
    /* align-items: flex-start; */
}

.sidenav a {
    /* padding: 0.8rem 0.8rem 0.8rem 3.2rem; */
    font-family: 'SVN-Gilroy Bold';
    text-decoration: none;
    color: #003459;
    display: block;
    transition: 0.3s ease;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    display: none;
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 3.5rem;
    margin-left: 5rem;
}

.header-desktop .frame46 {
    /* border: 1px solid; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 1.4rem;
    margin: 0;
}

.header-desktop .frame46 .search {
    display: flex;
    width: 28rem;
    padding: 1.2rem 2rem 1.2rem 1.6rem;
    align-items: center;
    gap: 1.2rem;
    overflow: auto;
    -moz-border-radius: 4.6rem;
    -webkit-border-radius: 4.6rem;
    border-radius: 4.6rem;
    background: #FDFDFD;
}

.header-desktop .frame46 .search .search-form {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
}

.header-desktop .search input[type="search"],
.header-desktop .search button[type="submit"] {
    color: var(--neutral-color-40, #99A2A5);
    font-family: 'SVN-Gilroy Light';
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem;
    outline: none;
    border: none;
}

.header-desktop .search button[type="submit"] {
    background: none;
    font-size: 1.8rem;
    color: #88898a;
    cursor: pointer;
}

.header-desktop .search input[type="search"] {
    width: 17.5rem;
    opacity: 70%;
}

.header-desktop .btn-join {
    border-radius: 5.7rem;
    background: var(--primary-color-dark-blue, #003459);
    padding: 1.4rem 2.8rem 1rem 2.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.header-desktop .btn-join button {
    background: none;
    color: var(--neutral-color-00, #FDFDFD);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4rem;
    border: none;
    cursor: pointer;
}

.header-desktop .nation {
    display: flex;
    padding: 1rem 0.8rem 0.8rem 0.8rem;
    justify-content: flex-end;
    align-items: center;
    gap: 0.4rem;
    align-self: stretch;
}

.header-desktop .nation .choose-nation {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-size: 16px;
    line-height: 2.3rem;
}

.header-desktop .nation #btn-dropdown {
    border: none;
    outline: none;
    background: none;
}

.header-desktop .nation #btn-dropdown .fa-angle-down {
    font-size: 1.2rem;
    cursor: pointer;
}


/* MAIN */

.main {
    padding: 6rem 13rem 4rem 13rem;
}

.herro-banner {
    /* border: 1px solid; */
    width: 100%;
    height: 69.5rem;
    border-radius: 0 0 4rem 4rem;
    background: var(--Linear, linear-gradient(103deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%));
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.herro-banner .rectangle1 {
    width: 63.5rem;
    height: 63.5rem;
    transform: rotate(9.355deg);
    border-radius: 9.9rem;
    background: var(--primary-color-dark-blue, #003459);
    position: absolute;
    top: 33.5rem;
    left: 63.6rem
}

.herro-banner .rectangle2 {
    width: 63.5rem;
    height: 63.5rem;
    transform: rotate(25.23deg);
    border-radius: 9.9rem;
    background: var(--secondary-color-mon-yellow, #F7DBA7);
    position: absolute;
    top: 29rem;
    left: 69.5rem;
    transition: 0.4s;
}

.herro-banner .rectangle8 {
    width: 63.5rem;
    height: 63.5rem;
    transform: rotate(56.47deg);
    border-radius: 9.9rem;
    opacity: 0.4;
    background: var(--secondary-color-mon-yellow, #F7DBA7);
    position: absolute;
    top: 68.5rem;
    left: 2.5rem;
}

.herro-banner .rectangle9 {
    width: 63.5rem;
    height: 63.5rem;
    transform: rotate(25.23deg);
    border-radius: 9.9rem;
    background: var(--secondary-color-mon-yellow, #F7DBA7);
    position: absolute;
    transition: 0.5s;
    top: -60rem;
    left: -24rem;
}

.herro-banner .rectangle3 {
    width: 6.7rem;
    height: 6.7rem;
    transform: rotate(25.23deg);
    border-radius: 2rem;
    background: var(--secondary-color-mon-yellow, #F7DBA7);
    position: absolute;
    top: 16.3rem;
    left: 11.2rem;
}

.herro-banner .rectangle5 {
    width: 1.46rem;
    height: 1.46rem;
    transform: rotate(20.792deg);
    border-radius: 0.4rem;
    background: #F7DBA7;
    position: absolute;
    transition: 0.4s;
    top: 14.8rem;
    left: 75.7rem;
}

.herro-banner .rectangle6 {
    width: 2.7rem;
    height: 2.7rem;
    transform: rotate(-22.85deg);
    border-radius: 0.9rem;
    background: #F7DBA7;
    position: absolute;
    top: 20rem;
    left: 72.8rem;
    transition: 0.4s;
}

.herro-banner .rectangle7 {
    width: 2.15rem;
    height: 2.15rem;
    transform: rotate(-43.005deg);
    border-radius: 0.6rem;
    background: #002A48;
    position: absolute;
    top: 20.9rem;
    left: 72.7rem;
    transition: 0.3s;
}

.good-humored-woman-holds-dog-laughing img {
    position: absolute;
    bottom: 0;
    left: 53rem;
}

.cont-banner {
    /* border: 1px solid; */
    position: relative;
    color: var(--primary-color-dark-blue-80, #002A48);
    padding: 16rem 13rem 0 13rem;
    transition: 0.6s;
}


/* text-transform: capitalize; - Chữ đầu tiên của mỗi thành phần là chữ hoa. */

.cont-banner #contbann1 {
    font-family: 'SVN-Gilroy Bold';
    font-size: 6rem;
    font-style: normal;
    font-weight: 800;
    line-height: 6.8rem;
    text-transform: capitalize;
}

.cont-banner #contbann2 {
    font-family: 'SVN-Gilroy Bold';
    font-size: 4.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 6rem;
    text-transform: capitalize;
    margin-top: 0.4rem;
}

.cont-banner #contbann3 {
    width: 48rem;
    font-family: 'SVN-Gilroy Light';
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.4rem;
    margin-top: 2.4rem;
}


/* gap: 8px; - Khoảng cách giữa 2 phần tử text và icon */

.button-banner {
    display: flex;
    position: absolute;
    padding: 0 0 0 12rem;
    bottom: 22rem;
    gap: 2rem;
}

.button-banner .view-intro,
.btn-bann-1nd-main .view-intro,
.btn-bann-2nd-main .view-intro {
    font-family: 'SVN-Gilroy Light';
    font-weight: 600;
    font-size: 1.6rem;
    font-style: normal;
    color: var(--primary-color-dark-blue, #003459);
    display: inline-flex;
    padding: 1.4rem 2.8rem 1rem 2.8rem;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    border-radius: 5.7rem;
    border: 1.6px solid var(--primary-color-dark-blue, #003459);
    background: none;
    cursor: pointer;
}

.button-banner .view-intro .fa-circle-play,
.btn-bann-1nd-main .view-intro .fa-circle-play,
.btn-bann-2nd-main .view-intro .fa-circle-play {
    font-size: 2rem;
}

.button-banner .explore-now,
.btn-bann-1nd-main .explore-now,
.btn-bann-2nd-main .explore-now {
    display: flex;
    font-family: 'SVN-Gilroy Light';
    font-weight: 500;
    font-size: 1.6rem;
    font-style: normal;
    border: none;
    width: 16.3rem;
    padding: 1.4rem 2.8rem 1rem 2.8rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 5.7rem;
    color: var(--neutral-color-00, #FDFDFD);
    background: var(--primary-color-dark-blue, #003459);
    cursor: pointer;
}


/* Frame52, Frame53 */

.frame52,
.frame56 {
    /* border: 1px solid; */
    width: 100%;
    /* height: 986px; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.frame53 {
    /* border: 1px solid; */
    width: 100%;
    margin-top: 6rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.frame52 .frame5,
.frame53 .frame5,
.frame56 .knowledge {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.2rem;
}

.frame52 .frame5-1,
.frame53 .frame5-1,
.frame56 .knowledge #you-alr {
    font-family: 'SVN-Gilroy Light';
    color: #000;
    font-size: 1.6rem;
    font-weight: 700;
    font-style: normal;
    line-height: 2.4rem;
}

.frame52 .frame5-2,
.frame53 .frame5-2,
.frame56 .knowledge #useful {
    font-family: 'SVN-Gilroy Bold';
    color: var(--primary-color-dark-blue, #003459);
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.6rem;
    text-transform: capitalize;
    cursor: pointer;
}

.frame52 .frame2,
.frame53 .frame3,
.frame56 .btn-knowledge {
    display: inline-flex;
    padding: 1.2rem 2.8rem;
    justify-content: center;
    align-items: center;
    border-radius: 5.7rem;
    border: 2px solid var(--primary-color-dark-blue, #003459);
    cursor: pointer;
}

.frame52 .frame2 .view-more,
.frame53 .frame3 .view-more,
.frame56 .btn-knowledge .view-more {
    color: var(--primary-color-dark-blue, #003459);
    font-family: 'SVN-Gilroy Light';
    font-style: normal;
    font-weight: 900;
    line-height: 2rem;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
}


/* Frame Product */

.frame52 .product,
.frame53 .product,
.frame56 .cont-knowledge {
    display: flex;
    margin-top: 2.8rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.frame52 .product .product-card,
.frame53 .product .product-card {
    max-width: 28rem;
    display: inline-flex;
    padding: 0.8rem 0.8rem 0 0.8rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
    border-radius: 1.2rem;
    background: var(--neutral-color-00, #FDFDFD);
    box-shadow: 0 0.4rem 2.8rem -0.2rem rgba(0, 0, 0, 0.08);
    margin-bottom: 2rem;
}

.frame52 .product .image-card,
.frame53 .product .image-card {
    display: flex;
    width: 26.4rem;
    height: 26.4rem;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background: #FFF;
}

.frame52 .product .image-card img,
.frame53 .product .image-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
    border-radius: 1rem;
}

.frame52 .product .product-title,
.frame53 .product .product-title,
.frame56 .cont-knowledge .frame-blog {
    font-family: 'SVN-Gilroy Light';
    display: flex;
    padding: 0.8rem 0.8rem 2rem 0.8rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem;
    overflow: hidden;
}

.frame52 .product .product-title .content,
.frame53 .product .product-title .content {
    max-width: 26.4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.4rem;
}

.frame52 .product .product-title .content .name-product,
.frame53 .product .product-title .content .name-product,
.frame56 .cont-knowledge .content-blog .name-blog {
    align-self: stretch;
    color: var(--neutral-color-100, #00171F);
    font-family: 'SVN-Gilroy Bold';
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.4rem;
    cursor: pointer;
    text-decoration: none;
}

.frame52 .product .product-title .content .gene-age,
.frame53 .product .product-title .content .gene-age {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 0.4rem;
    align-self: stretch;
    color: var(--neutral-color-60, #667479);
    font-size: 1.2rem;
    font-style: normal;
    line-height: 1.8rem;
}

.frame52 .product .product-title .content .gene-age .gene,
.frame52 .product .product-title .content .gene-age .age,
.frame53 .product .product-title .content .gene-age .gene,
.frame53 .product .product-title .content .gene-age .age {
    display: flex;
    align-items: flex-start;
    gap: 0.6rem;
}

.product-title .content .gene-age .gene .gene-til,
.product-title .content .gene-age .age .age-til {
    font-weight: 600;
}

.product-title .content .gene-age .gene .gene-da,
.product-title .content .gene-age .age .age-da {
    font-family: 'SVN-Gilroy Bold';
    font-weight: 700;
}

.product-title .content .gene-age .dot-grey {
    padding: 0.8rem 0.8rem;
}

.product-title .content .gene-age .dot-grey .dot-dot-gr {
    width: 0.3rem;
    height: 0.3rem;
    border-radius: 1rem;
    background: #667479;
}

.product-title .content .price-product {
    width: 100%;
    color: var(--neutral-color-100, #00171F);
    font-family: 'SVN-Gilroy Bold';
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem;
}


/* Banner-1nd-main */

.banner-1nd-main {
    width: 100%;
    height: 37.8rem;
    border-radius: 2rem;
    background: #003459;
    margin-top: 3.2rem;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    object-fit: cover;
}

.banner-1nd-main .rectangle10 {
    width: 78.2rem;
    height: 63.5rem;
    transform: rotate(25.23deg);
    border-radius: 9.9rem;
    background: #FCEED5;
    position: absolute;
    top: -22rem;
    left: 60.5rem;
    transition: 0.6s;
}

.banner-1nd-main .rectangle11 {
    width: 78.8rem;
    height: 78.8rem;
    transform: rotate(28.251deg);
    border-radius: 9.9rem;
    background: var(--primary-color-dark-blue-80, #002A48);
    position: absolute;
    top: 17rem;
    left: -19rem;
    transition: 0.6s;
}

.banner-1nd-main .shot-adult-girl-jeans img {
    width: 51.3rem;
    height: 34.2rem;
    position: absolute;
    top: 3.6rem;
    left: 2rem;
    transition: 0.7s;
}

.banner-1nd-main .text-bann-main {
    position: absolute;
    top: 6.4rem;
    right: 8.5rem;
    font-family: 'SVN-Gilroy Bold';
    font-style: normal;
    color: var(--primary-color-dark-blue, #003459);
    text-align: right;
}

.banner-1nd-main .text-bann-main #one-more {
    font-size: 5.2rem;
    font-weight: 800;
    line-height: 6.8rem;
    text-transform: capitalize;
}

.banner-1nd-main .text-bann-main #thousands {
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 5.4rem;
    text-transform: capitalize;
}

.banner-1nd-main .text-bann-main #having {
    font-family: 'SVN-Gilroy Light';
    width: 39.4rem;
    color: var(--neutral-color-80, #242B33);
    text-align: right;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.8rem;
}

.btn-bann-1nd-main {
    display: flex;
    position: absolute;
    bottom: 5.6rem;
    right: 7.5rem;
    gap: 2rem;
}

.product-card .product-gift {
    display: flex;
    padding: 0.6rem 1rem 0.4rem 1rem;
    align-items: center;
    gap: 0.2rem;
    align-self: stretch;
    border-radius: 0.8rem;
    background: var(--secondary-color-mon-yellow-40, #FCEED5);
}

.product-gift .dot-blue {
    padding: 1rem 0.8rem;
}

.product-gift .dot-blue .dot-dot-bl {
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 1rem;
    background: var(--primary-color-dark-blue, #003459);
}

.product-gift .cont-gift {
    color: var(--primary-color-dark-blue-80, #002A48);
    font-family: 'SVN-Gilroy Bold';
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem;
}


/* FRAME42 */

.frame42 {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 4rem 0;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.frame42 .frame43 {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.frame42 .frame43 .pround-pet {
    display: flex;
    align-items: flex-end;
    gap: 0.8rem;
    font-style: normal;
}

.frame42 .frame43 .pround-pet #pround {
    color: #000;
    font-family: 'SVN-Gilroy Light';
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 3.1rem;
}

.frame42 .frame43 .pround-pet #pet {
    color: var(--primary-color-dark-blue, #003459);
    font-family: 'SVN-Gilroy Bold';
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.6rem;
    text-transform: capitalize;
    cursor: pointer;
}

.frame42 .frame43 .btn-fr42 {
    display: flex;
    padding: 1.2rem 2.8rem;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    border-radius: 5.7rem;
    border: 2px solid var(--primary-color-dark-blue, #003459);
    color: var(--primary-color-dark-blue, #003459);
    font-family: 'SVN-Gilroy Light';
    font-size: 1.4rem;
    font-weight: 600;
    background: none;
    cursor: pointer;
}

.frame42 .frame43 .btn-fr42 .fa-angle-right,
.view-more .fa-angle-right {
    font-size: 1.3rem;
}

.frame42 .frame40 {
    /* border: 1px solid; */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 11.2rem;
    align-items: center;
    gap: 3rem;
    justify-content: space-around;
}

.frame42 .frame40 #fr40-img1 {
    width: 8.8rem;
    height: 6.4rem;
    padding: 0 1.6rem;
    cursor: pointer;
}

.frame42 .frame40 #fr40-img2 {
    width: 11.4rem;
    height: 11.4rem;
    padding: 1rem;
    cursor: pointer;
}

.frame42 .frame40 #fr40-img3 {
    width: 10.4rem;
    height: 4.6rem;
    padding: 1rem;
    cursor: pointer;
}

.frame42 .frame40 #fr40-img4 {
    width: 9.2rem;
    height: 6.4rem;
    padding: 1rem;
    cursor: pointer;
}

.frame42 .frame40 #fr40-img5 {
    width: 9.2rem;
    height: 9.2rem;
    padding: 1rem;
    cursor: pointer;
}

.frame42 .frame40 #fr40-img6 {
    width: 9.2rem;
    height: 9.2rem;
    padding: 1rem;
    cursor: pointer;
}

.frame42 .frame40 #fr40-img7 {
    width: 11.6rem;
    height: 7.2rem;
    padding: 1rem;
    cursor: pointer;
}

.banner-2nd-main {
    width: 100%;
    height: 37.8rem;
    border-radius: 2rem;
    background: #FFB775;
    position: relative;
    overflow: hidden;
}

.banner-2nd-main .rectangle12 {
    width: 78.2rem;
    height: 63.5rem;
    transform: rotate(-25.23deg);
    border-radius: 9.9rem;
    background: #FCEED5;
    position: absolute;
    right: 59rem;
    top: -22.5rem;
}

.banner-2nd-main .rectangle13 {
    width: 78.8rem;
    height: 78.8rem;
    transform: rotate(-28.251deg);
    border-radius: 9.9rem;
    opacity: 0.3;
    background: var(--Linear, linear-gradient(103deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%));
    position: absolute;
    left: 58.5rem;
    top: 17rem;
}

.banner-2nd-main #handshake-the-dog {
    position: absolute;
    width: 58.6rem;
    height: 37.8rem;
    transform: rotate(2.071deg);
    top: -0.2rem;
    right: 0rem;
}

.banner-2nd-main #puppy-hand {
    position: absolute;
    width: 4.2rem;
    height: 3.8rem;
    top: 8.1rem;
    left: 32.6rem;
}

.banner-2nd-main .text-bann-2nd-main {
    position: absolute;
    top: 6.4rem;
    left: 8.5rem;
}

.banner-2nd-main .text-bann-2nd-main #txt1 {
    color: var(--primary-color-dark-blue, #003459);
    font-family: 'SVN-Gilroy Bold';
    font-size: 5.2rem;
    font-style: normal;
    font-weight: 800;
    line-height: 6.8rem;
    text-transform: capitalize;
}

.banner-2nd-main .text-bann-2nd-main #txt2 {
    color: var(--primary-color-dark-blue, #003459);
    font-family: 'SVN-Gilroy Bold';
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 5.4rem;
    margin-bottom: 0.8rem;
    text-transform: capitalize;
}

.banner-2nd-main .text-bann-2nd-main #txt3 {
    width: 39.4rem;
    color: var(--neutral-color-80, #242B33);
    font-family: 'SVN-Gilroy Light';
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.8rem;
}

.banner-2nd-main .btn-bann-2nd-main {
    display: flex;
    position: absolute;
    bottom: 5.6rem;
    left: 7.2rem;
    gap: 2rem;
}


/* FRAME 56 */

.frame56 {
    width: 100%;
    /* height: 634px; */
    margin-top: 6rem;
}

.frame56 .cont-knowledge {
    margin-top: 3.6rem;
    gap: 2rem;
    margin: 0 auto;
}

.frame56 .cont-knowledge .card-blog {
    max-width: 36.4rem;
    display: inline-flex;
    padding: 0.8rem 0.8rem 0 0.8rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
    border-radius: 1.2rem;
    background: var(--neutral-color-00, #FDFDFD);
    box-shadow: 0 0.4rem 2.8rem -0.2rem rgba(0, 0, 0, 0.08);
    margin-bottom: 2rem;
}

.frame56 .cont-knowledge .image-card-blog {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #FFF;
    cursor: pointer;
}

.frame56 .cont-knowledge .image-card-blog img {
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    height: 24.3rem;
    border-radius: 1rem;
}

.frame56 .cont-knowledge .frame-blog {
    width: 100%;
}

.frame56 .cont-knowledge .frame-blog .content-blog {
    max-width: 34.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.6rem;
    padding: 0.8rem 0.8rem;
}

.frame56 .cont-knowledge .frame-blog .content-blog .status {
    display: flex;
    padding: 0.2rem 1rem;
    align-items: flex-start;
    gap: 1rem;
    border-radius: 2.8rem;
    background: var(--state-color-blue-sea, #00A7E7);
}

.frame56 .cont-knowledge .frame-blog .content-blog .status p {
    color: var(--neutral-color-00, #FDFDFD);
    font-family: 'SVN-Gilroy Light';
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.6rem;
}

.frame56 .cont-knowledge .content-blog .name-blog {
    width: 34.8rem;
}

.frame56 .cont-knowledge .content-blog .cont-blog {
    height: 6rem;
    overflow: hidden;
    color: var(--neutral-color-80, #242B33);
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    font-family: 'SVN-Gilroy Light';
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem;
}


/* FOOTER */

.footer {
    display: flex;
    width: 100%;
    /* height: 440px; */
    padding: 8rem 0 4rem 0;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 4rem;
    border-radius: 4rem 4rem 0 0;
    background: linear-gradient(103deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
    font-family: 'SVN-Gilroy Light';
    font-style: normal;
    font-weight: 600;
}

.footer .frame28 {
    display: flex;
    padding-bottom: 0rem;
    flex-direction: column;
    align-items: flex-start;
    /* gap: 40px; */
    border-bottom: 1px solid var(--neutral-color-20, #CCD1D2);
    margin: 0 auto;
}

.footer .frame28 .register-email {
    width: 94.5%;
    display: flex;
    padding: 3.2rem;
    align-items: flex-start;
    gap: 2rem;
    border-radius: 1.6rem;
    background: var(--primary-color-dark-blue, #003459);
}

.footer .frame28 .register-email p {
    width: 35%;
    color: var(--neutral-color-00, #FDFDFD);
    font-family: SVN-Gilroy;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.6rem;
    text-transform: capitalize;
    font-family: 'SVN-Gilroy Bold';
    font-style: normal;
    font-weight: 500;
}

.footer .frame28 .register-email .input-your-email {
    width: 61%;
    display: flex;
    justify-content: space-between;
    padding: 1.2rem;
    align-items: center;
    gap: 1.2rem;
    border-radius: 1.4rem;
    background: #FFF;
    color: var(--neutral-color-00, #FDFDFD);
}

.input-your-email form {
    width: 72%;
}

.footer .frame28 .register-email .input-your-email .inp {
    width: 100%;
    display: flex;
    padding: 1.4rem 2.8rem;
    align-items: center;
    gap: 1rem;
    flex: 1 0 0;
    border-radius: 0.8rem;
    border: 1px solid var(--neutral-color-40, #99A2A5);
    background: #FFF;
    color: var(--neutral-color-40, #99A2A5);
    font-size: 1.4rem;
    line-height: 2rem;
    font-family: 'SVN-Gilroy Light';
    font-weight: 600;
    outline: none;
}

.footer .frame28 .register-email .input-your-email .inp::-webkit-input-placeholder {
    opacity: 0.6;
}

.footer .frame28 .register-email #btn-sub {
    display: flex;
    width: 16.3rem;
    padding: 1.4rem 2.8rem 1rem 2.8rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 0.8rem;
    background: var(--primary-color-dark-blue, #003459);
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #FDFDFD;
    cursor: pointer;
}

.footer .frame28 .info-contact {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 56.2rem;
    padding: 4rem 0;
}

.footer .frame28 .info-contact .info {
    display: flex;
    align-items: flex-start;
    gap: 6rem;
}

.footer .frame28 .info-contact .info a {
    color: #00171F;
    font-size: 1.6rem;
    line-height: 2.4rem;
    cursor: pointer;
}

.input-your-email form {
    width: 100%;
}

.footer .frame28 .info-contact .contact {
    display: flex;
    align-items: flex-start;
    gap: 4rem;
    font-size: 2.4rem;
    color: #00171F;
}

.footer .frame28 .info-contact .contact i {
    cursor: pointer;
}

.footer .frame26 {
    margin: 0 auto;
    width: 82%;
    height: 4rem;
    display: flex;
    gap: 26%;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer .frame26 div {
    color: var(--neutral-color-60, #667479);
    font-family: 'SVN-Gilroy Light';
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem;
}

.footer .frame26 img {
    width: 11.5rem;
    height: 4rem;
    cursor: pointer;
}

.footer .frame26 .terms-privacy {
    display: flex;
    gap: 4rem;
}

body h2 {
    margin: 0;
    display: none;
}

@media screen and (min-width: 0) {
    body,
    .herro-banner,
    .header-desktop {
        max-width: 144rem;
    }
}

@media screen and (max-width: 1432px) {
    .footer .frame26 {
        display: flex;
    }
    /* nth-of-type: SX lại thứ tự các phần tử có cùng kiểu span với thuộc tính order dùng cho flexbox */
    .footer .frame26 div:nth-of-type(1) {
        order: 3;
        margin-top: 0.8rem;
    }
    .footer .frame26 div:nth-of-type(3) {
        order: 2;
    }
    .footer .frame26 div:nth-of-type(2) {
        order: 1;
    }
    .main {
        padding: 6rem 10rem 4rem 10rem;
    }
}

@media (max-width: 1330px) {
    .main {
        padding: 6rem 5rem 4rem 5rem;
    }
}

@media (max-width: 1280px) {
    .header-desktop {
        padding: 2.5rem 2rem;
    }
    .sidenav {
        gap: 3rem;
    }
    .header-desktop .frame46 .search {
        width: unset;
    }
    .header-desktop .search input[type="search"] {
        display: none;
    }
    .header-desktop .frame46 .search {
        padding: 0;
        background-color: unset;
    }
    .header-desktop .search .fa-search {
        width: 23px;
        color: #003459;
    }
    /* .header-desktop .search .fa-search:hover .search #pl {
        display: block;
    } */
}

@media (min-width: 1051px) and (max-width: 1200px) {
    .footer .frame28 .info-contact {
        gap: 2rem;
        flex-wrap: wrap;
    }
    .footer .frame28 .register-email .input-your-email .inp {
        width: 85%;
    }
}

@media (max-width: 1200px) {
    .footer .frame28 .info-contact {
        gap: 2rem;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .frame42 .frame40 {
        gap: 1rem;
    }
    .banner-1nd-main .rectangle10 {
        left: 45rem;
    }
    .banner-1nd-main .rectangle11 {
        left: -31rem;
    }
    .banner-1nd-main .shot-adult-girl-jeans img {
        left: -75px;
    }
}

@media screen and (max-width: 1050px) {
    .footer .frame28 .register-email {
        flex-wrap: wrap;
        width: unset
    }
    .footer .frame28 .register-email #btn-sub,
    .footer .frame28 .register-email p {
        width: 100%;
    }
    .footer .frame28 .register-email .input-your-email {
        flex-wrap: wrap;
        width: 100%;
    }
    .banner-1nd-main .text-bann-main #one-more {
        font-size: 4rem;
    }
    .banner-1nd-main .text-bann-main #thousands {
        font-size: 3rem;
    }
}

@media (min-width: 415px) and (max-width: 1050px) {
    .footer .frame28 {
        width: 95%;
    }
}

@media screen and (max-width: 992px) {
    .header-desktop .nation {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .header-desktop .btn-join {
        display: none;
    }
    .cont-banner {
        padding: 16rem 1.6rem 0 12.6rem;
    }
}

@media screen and (max-width: 650px) {
    /* responsive menu */
    .sidenav {
        position: fixed;
        background-color: #003459b3;
        flex-direction: column;
        width: 0;
        height: 100%;
        z-index: 1;
        top: 0;
        left: 0;
        padding-top: 6rem;
        text-align: center;
    }
    .sidenav a {
        color: #FFF;
        font-size: 2.4rem;
    }
    .menu .bar-menu,
    .sidenav .closebtn {
        display: block;
    }
    .header-desktop div:nth-of-type(1) {
        order: 2;
    }
    .header-desktop div:nth-of-type(2) {
        order: 1;
    }
    .header-desktop div:nth-of-type(3) {
        order: 3;
    }
    .header-desktop {
        justify-content: space-between;
    }
    .input-your-email form {
        width: unset;
    }
    .cont-banner {
        padding: 16rem 1.6rem 0 1.6rem;
    }
}

@media screen and (max-width: 573px) {
    .frame52 {
        gap: unset;
    }
    .banner-1nd-main {
        height: 64rem;
    }
    .banner-1nd-main .rectangle10 {
        display: block;
        width: 60.5rem;
        height: 63.5rem;
        object-fit: cover;
        object-position: 50% 50%;
        transform: rotate(11.41deg);
        border-radius: 7.5rem;
        left: -14.5rem;
        top: -30rem;
    }
    .banner-1nd-main .rectangle11 {
        display: block;
        width: 52.4rem;
        height: 34.9rem;
        object-fit: cover;
        object-position: 50% 50%;
        top: 51rem;
        left: -6rem;
    }
    .banner-1nd-main .shot-adult-girl-jeans img {
        width: 51.3rem;
        height: 34.2rem;
        position: absolute;
        top: 47%;
        left: -16%;
        display: block;
        object-position: 50% 50%;
    }
    .banner-1nd-main .text-bann-main {
        top: 2rem;
        text-align: center;
        right: 12%;
    }
    .banner-1nd-main .text-bann-main #one-more {
        font-size: 3.6rem;
        line-height: 5.4rem;
    }
    .banner-1nd-main .text-bann-main #thousands {
        font-size: 2.4rem;
        line-height: 3.6rem;
    }
    .banner-1nd-main .text-bann-main #having {
        width: 32.4rem;
        margin-top: 1.2rem;
    }
    .btn-bann-1nd-main {
        right: 7%;
        bottom: 38rem;
    }
    .footer .frame26 .terms-privacy {
        margin-top: 3.2rem;
    }
    .footer {
        padding-bottom: 11.5rem;
    }
    .frame56 .knowledge #useful {
        font-size: 2rem;
        line-height: 3.2rem;
    }
    .frame56 .knowledge #you-alr {
        font-size: 1.4rem;
        line-height: 2rem;
    }
    .main {
        padding: 6rem 1.6rem 4rem 1.6rem;
    }
    .frame42 .frame43 .pround-pet #pround {
        font-size: 1.4rem;
    }
    .frame42 .frame43 .pround-pet #pet {
        font-size: 2rem;
    }
    .frame3,
    .frame42 .frame43 .btn-fr42 {
        width: 100%;
    }
    .cont-banner #contbann1 {
        font-size: 5rem;
    }
    .cont-banner #contbann2 {
        font-size: 3rem;
    }
    .cont-banner #contbann3 {
        width: 35rem;
        font-size: 1.2rem;
    }
    .button-banner {
        padding: 3.5rem 2rem 0 2rem;
        bottom: unset;
    }
}

@media screen and (max-width: 415px) {
    .header-desktop {
        padding: 2.5rem 1.4rem 3.5rem 1.4rem;
    }
    .cont-banner {
        padding: 12rem 1.2rem 0 1.2rem;
    }
    .cont-banner #contbann1 {
        font-size: 4.6rem;
        line-height: 6rem;
    }
    .cont-banner #contbann2 {
        font-size: 2.8rem;
        line-height: 3.8rem;
        margin-top: 0;
    }
    .cont-banner #contbann3 {
        width: 38.6rem;
        font-size: 1.2rem;
        line-height: 1.8rem;
        margin-top: 1.2rem;
    }
    .herro-banner .rectangle9 {
        width: 59.5rem;
        left: -18rem;
    }
    .herro-banner .rectangle3 {
        display: none;
    }
    .herro-banner .rectangle5 {
        top: 17rem;
        left: 34.6rem;
    }
    .herro-banner .rectangle7 {
        width: 1.6rem;
        height: 1.6rem;
        transform: rotate(-30.589deg);
        top: 19.3rem;
        left: 30.2rem;
    }
    .herro-banner .rectangle6 {
        width: 2.1rem;
        height: 2.1rem;
        transform: rotate(-9.619deg);
        top: 18.5rem;
        left: 30.4rem;
    }
    .herro-banner {
        height: 79.4rem;
    }
    .good-humored-woman-holds-dog-laughing {
        position: absolute;
        width: 41.4rem;
        height: 38.6rem;
        bottom: 0;
    }
    .good-humored-woman-holds-dog-laughing img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        left: unset;
        transition: 0.6s;
    }
    .herro-banner .rectangle2 {
        width: 52.6rem;
        height: 52.6rem;
        position: absolute;
        top: 47rem;
        left: 11rem;
        transition: 0.6s;
    }
    .herro-banner .rectangle1 {
        width: 52.9rem;
        height: 52.9rem;
        transform: rotate(5.367deg);
        top: 50.5rem;
        left: 1.67rem;
        transition: 0.4s;
    }
    .main {
        padding: 4rem 1.6rem 4rem 1.6rem;
    }
    /* nth-of-type: SX lại thứ tự các phần tử có cùng kiểu span với thuộc tính order dùng cho flexbox */
    .frame52 section:nth-of-type(1),
    .frame56 section:nth-of-type(1) {
        order: 1;
    }
    .frame52 section:nth-of-type(2),
    .frame56 section:nth-of-type(2) {
        order: 3;
    }
    .frame52 section:nth-of-type(3),
    .frame56 section:nth-of-type(3) {
        order: 2;
    }
    .frame52 .product,
    .frame53 .product,
    .frame56 .cont-knowledge {
        margin-top: 2rem;
    }
    .frame52 .frame5-1,
    .frame53 .frame5-1,
    .frame56 .knowledge #you-alr {
        font-size: 1.4rem;
        line-height: 2rem;
    }
    .frame52 .frame5-2,
    .frame53 .frame5-2,
    .frame56 .knowledge #useful {
        font-size: 2rem;
        line-height: 3.2rem;
    }
    .frame52 .product .image-card,
    .frame53 .product .image-card {
        width: 16.9rem;
        height: 16.9rem;
    }
    .frame52 .product .product-title,
    .frame53 .product .product-title {
        width: 16.1rem;
    }
    .frame52 .product .product-title .content .name-product,
    .frame53 .product .product-title .content .name-product {
        font-size: 1.4rem;
        line-height: 2rem;
    }
    .product-title .content .price-product {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
    .product-title .content .gene-age .dot-grey {
        display: none;
    }
    .frame2,
    .frame56 .btn-knowledge {
        width: 100%;
    }
    .frame56 .cont-knowledge .frame-blog {
        gap: 1rem;
        padding: 0.8rem;
    }
    .frame56 .cont-knowledge .content-blog .name-blog {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
    .button-banner {
        padding: 3.5rem 1.6rem 0 1.6rem;
        bottom: unset;
    }
    .header-desktop .frame47 {
        width: unset;
    }
    .footer .frame28 .register-email p {
        font-size: 2rem;
    }
    .footer .frame28 .register-email .input-your-email .inp {
        width: 100%;
    }
    .footer .frame28 {
        width: 90%;
    }
    .footer .frame28 .info-contact .info {
        gap: 4rem;
    }
    .frame42,
    .frame53,
    .banner-2nd-main {
        display: none;
    }
    .frame56 {
        margin-top: 4rem;
        gap: unset;
    }
    .footer .frame26 div {
        font-size: 1rem;
        line-height: 1.6rem;
    }
    .footer .frame28 .info-contact .contact {
        font-size: 2rem;
    }
    .footer .frame28 .register-email {
        padding: 1.6rem;
    }
    .input-your-email form {
        width: 100%;
    }
}