/* các khối bao toàn bộ nội dung của từng phần*/

.margin-block-large {
    margin-block: 60px;
}

.container {
    width: 100%;
    margin: 0 auto;
    /* desgin set width của container: 1180px, khi hiển thị trên mobile thấy có padding 2 cạnh là 16px
       => vì add padding-inline: 16px => phải cộng thêm 2 bên 16px vào width = 1212px */
    max-width: 1212px;
    padding-inline: 16px;
}

.container-banner-main {
    padding-inline: unset;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}


/* các khối bao toàn bộ nội dung của card/content */

.grid {
    display: flex;
    flex-wrap: wrap;
    /* gap: row-gap  column-gap */
    gap: 20px;
}

.grid__item_product {
    /* flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto */
    /* flex: 1 0 auto; */
    flex: 1 0 264px;
}

.grid-item-blog {
    /* flex: 1 0 auto; */
    flex: 1 0 364px;
}


/* Reponsive mobile kích thước từ 320px sẽ chia grid__item product: 2 cột, blog: 1 cột */

@media (min-width: 320px) and (max-width:576px) {
    /* .grid-mobile-4-items .grid__item {
        width: calc(100% / 2);
    }
    .grid-mobile-3-items .grid__item {
        width: calc(100%);
    } */
    .heading-cont-bann-main {
        justify-content: center;
    }
}

@media (max-width:571px) {
    /* .grid__item {
        width: 169px;
    } */
}


/* Responsive tablet và desktop từ 576px sẽ chia grid__item product: 4 cột, blog: 3 cột */

@media (min-width: 576px) {
    /* .grid-tablet-4-items .grid__item {
        width: calc(100% / 2);
    }
    .grid-tablet-3-items .grid__item {
        width: calc(100%/3);
    } */
    .section-banner-header {
        background-image: url("../images/banner/header-banner.png");
    }
    .banner-main-bg-1 {
        background-image: url("../images/banner/main-banner.png");
    }
}

@media (min-width: 768px) {
    /* .grid-desktop-4-items .grid__item {
        width: calc(100% / 3);
    } */
}

@media (min-width: 1024px) {
    /* .grid-desktop-4-items .grid__item {
        width: calc(100% / 4);
    } */
}

@media (min-width: 1051px) and (max-width: 1200px) {
    .input-email {
        width: 85%;
    }
}


/* draf-responsive menu */

@media (max-width: 1200px) {
    .content-banner-main {
        padding-inline: 21px;
    }
    .cubic-image-banner-header img {
        margin-left: -175px;
    }
}

@media (max-width: 1207px) {
    .tablet-menu-block {
        display: block;
    }
    .sidenav {
        position: fixed;
        background-color: #003459b3;
        width: 100%;
        max-width: 350px;
        height: 100%;
        z-index: 1;
        top: 0;
        left: 0;
        padding-top: 60px;
        text-align: center;
        transition: 0.6s ease;
        transform: translateX(-100%);
    }
    .sidenav.active {
        transform: translateX(0);
    }
    .nav__list-menu {
        flex-direction: column;
    }
    .closebtn {
        display: block;
    }
    .nav__link-menu {
        color: #FFF;
    }
    /* order: Đổi vị trí của các block so với vị trí ban đầu, đi kèm vs display:flex */
    .logo-header {
        order: 2
    }
    .menu {
        order: 1;
    }
    .header__search {
        order: 3;
    }
    .container-header {
        justify-content: space-between;
        padding-inline: 10px 14px;
    }
    .cubic-image-banner-header img {
        margin-left: -75px;
    }
}

@media (max-width:1024px) {
    .grid-tablet-banner-2-iteams {
        grid-template-columns: repeat(1, 1fr);
    }
    .content-banner-header {
        padding-block: 100px 25px;
    }
    .cubic-image-banner-header img {
        width: 414px;
        height: 386px;
    }
    .section-banner-header {
        background-image: url("../images/banner/header-banner-mobile.png");
    }
    .cubic-image-banner-header img {
        margin-left: unset;
    }
    .banner-main-bg-1 {
        background-image: url("../images/banner/main-banner-mobile.png");
    }
    .location-element-mobile:nth-child(1) {
        order: 2;
    }
    .location-element-mobile:nth-child(2) {
        order: 1;
    }
    .content-banner-main {
        padding-block: 32px;
        text-align: center;
    }
    .content-banner-main-1 {
        justify-content: center;
    }
    .content-banner-main-2 {
        justify-content: center;
    }
    .image-bann-main-1 {
        width: 524px;
        height: 349px;
    }
    .button-banner {
        justify-content: space-between;
    }
    .button-banner-header {
        justify-content: start;
    }
    .section-pet-seller {
        padding-block: unset;
    }
}

@media screen and (max-width: 1050px) {
    .form-your-email {
        width: 100%;
    }
    .register-form {
        flex-wrap: wrap;
        width: unset
    }
    .cont-form-register {
        width: 100%;
    }
}

@media (max-width:992px) {
    .btn-join {
        display: none;
    }
    .nation__dropdown {
        display: none;
    }
}

@media (max-width:768px) {
    .search {
        width: unset;
    }
    .search input[type="search"] {
        display: none;
    }
    .search {
        padding: 0;
        background-color: unset;
    }
    .search button[type="submit"] {
        font-size: 23px;
        padding: 2px;
        color: #003459;
    }
    .form-your-email {
        flex-direction: column;
    }
    .info-contact {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .btn-subcribe {
        max-width: 100%;
    }
    .container-footer {
        gap: 36px;
    }
    .info {
        gap: 40px;
    }
    .content-footer {
        gap: 53%;
        justify-content: center;
    }
    .logo-footer {
        order: 1;
    }
    .terms-privacy {
        order: 2;
        margin-top: 32px;
    }
    .coppyright {
        order: 3;
        margin-top: 8px;
    }
}

@media (max-width:580px) {
    .grid-desktop-4-items {
        gap: 12px
    }
    .grid__item_product {
        flex: 1 0 180px;
    }
}

@media (max-width:412px) {
    .grid__item_product {
        flex: 1 0 164px;
    }
}

@media (max-width:780px) {
    .grid-desktop-3-items {
        gap: 12px;
    }
}


/* Responsive mobile */

@media (max-width:576px) {
    .content-banner-1 {
        font-size: 46px;
        line-height: 1.3;
    }
    .content-banner-2 {
        font-size: 28px;
        line-height: 1.35;
        margin-top: unset;
    }
    .content-banner-3 {
        max-width: 382px;
        font-size: 12px;
        line-height: 1.5;
        margin-block: 12px 32px;
    }
    .button-banner {
        gap: 16px;
    }
    .view-intro-mobile {
        padding: 14px 25px 10px 25px;
    }
    .cont-form-register {
        font-size: 20px;
        line-height: 1.6;
    }
    .section-footer {
        padding-block: 40px 20px;
    }
}

@media (max-width:581px) {
    .subheading {
        font-size: 14px;
        line-height: 1.43;
    }
    .heading {
        font-size: 20px;
        line-height: 1.6;
    }
    .card-heading {
        font-size: 14px;
        line-height: 1.43;
    }
    .cont-bann-1 {
        font-size: 36px;
        line-height: 1.5;
    }
    .cont-bann-2 {
        font-size: 24px;
        line-height: 1.5;
    }
    .cont-bann-3 {
        max-width: 342px;
    }
    .product-info {
        display: grid;
        gap: 4px;
        font-size: 12px;
        line-height: 1.5;
        margin-block: 4px 8px;
    }
    .dot-grey {
        display: none;
    }
    .card {
        gap: 12px;
    }
    .card-body-product {
        padding: 4px;
    }
    .product-price {
        font-size: 16px;
        line-height: 1.5;
    }
    .section-header__view-more {
        width: 100%;
    }
    .section-header__view-more-desktop {
        display: none;
    }
    .section-header__view-more-mobile {
        display: block;
        margin-block: 16px;
    }
    .button-view-more {
        font-size: 16px;
        line-height: 1.5;
    }
    .card-product {
        padding: 8px;
    }
    .section-our-products {
        display: none;
    }
    .section-pet-seller {
        display: none;
    }
    .section-banner-main-2 {
        display: none;
    }
    .section-card,
    .section-content {
        margin-block: 20px;
    }
    .card-blog-heading,
    .card-content-heading {
        font-size: 16px;
        line-height: 1.5;
    }
    .card-content-heading {
        margin-top: 6px;
    }
}