* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'SVN-Gilroy Light';
    font-style: normal;
    font-weight: 700;
}

a {
    text-decoration: none;
}


/* ===SECTION HEADER=== */

.section-header-menu {
    /* border:  1px solid blue; */
    width: 100%;
    padding-block: 28px;
    position: absolute;
}

.container-header {
    /* border:  1px solid blue; */
    width: 100%;
    align-items: center;
}

.logo {
    cursor: pointer;
}

.img-logo {
    width: 115px;
    height: 40px;
}


/* Menu */

.menu {
    align-items: flex-start;
}

.bar-menu {
    background-color: unset;
    border: none;
}

.nav__list-menu {
    gap: 48px;
    transition: 0.5s ease;
    overflow: hidden;
    list-style: none;
}

.nav__link-menu {
    font-family: 'SVN-Gilroy Bold';
    color: #003459;
    transition: 0.3s ease;
    font-size: 16px;
    line-height: 1.5;
}

.nav__link-menu:hover {
    color: #024675;
}

.closebtn {
    color: #FFF;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 35px;
    margin-left: 50px;
    background-color: unset;
    border: none;
}


/* Search - Join - Nation*/

.header__search {
    /* border:  1px solid; */
    align-items: center;
    gap: 14px;
}

.search {
    width: 280px;
    max-width: 100%;
    padding: 12px 20px 12px 16px;
    overflow: auto;
    -moz-border-radius: 46px;
    -webkit-border-radius: 46px;
    border-radius: 46px;
    background: #FDFDFD;
}

.form__search {
    gap: 12px;
    align-items: center;
}


/* nth-cild: Chọn phần tử thứ n trong ptu cha */

.form__search-general:nth-child(1) {
    order: 2;
}

.form__search-general:nth-child(2) {
    order: 1;
}

.form__search-general {
    color: #99A2A5;
    font-family: 'SVN-Gilroy Light';
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    outline: none;
    border: none;
}

.btn-search {
    background: none;
    font-size: 18px;
    color: #88898a;
    cursor: pointer;
}

.input-search {
    width: 175px;
}

.input-search::-webkit-input-placeholder {
    opacity: 0.5;
}

.btn-join {
    font-family: 'SVN-Gilroy Light';
    font-weight: 700;
    color: #FDFDFD;
    border-radius: 57px;
    background: #003459;
    padding: 12px 28px;
    font-size: 16px;
    line-height: 1.5;
}


/* Drop Down Nation */

.language {
    padding: 10px 8px 8px 8px;
}

.currency-tiltle {
    margin-right: -4px;
}

.nation__dropdown {
    position: relative;
    font-size: 16px;
    line-height: 1.43;
}


/* Drop-Down-Language */

.button__dropdown {
    font-size: 16px;
    line-height: 1.43;
    color: #002A48;
    border: none;
    cursor: pointer;
    background: none;
    align-items: center;
    gap: 8px;
}

.dropdown-content {
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.nav__link-language {
    color: #002A48;
    padding: 12px 16px;
    text-decoration: none;
}

.nav__link-language:hover {
    background-color: #fceed578;
}

.show {
    display: block;
}


/* ===SECTION BANNER=== */

.section-banner-header {
    /* border:  1px solid red; */
    border-radius: 0 0 40px 40px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section-banner-main {
    padding-inline: 16px;
}

.container-banner {
    /* border:  1px solid purple; */
    color: #002A48;
    align-items: end;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/**********/

.container-banner-header {
    grid-template-columns: repeat(2, 1fr);
}

.container-banner-main {
    grid-template-columns: repeat(2, 1fr);
    border-radius: 20px;
    max-width: 1180px;
}

.banner-main-bg-2 {
    background-image: url("../images/banner/main-banner-2.png");
}

.cubic-image-banner-header img {
    margin-bottom: -5px;
    max-width: 944px;
    transition: 0.6s ease;
}

.cubic-image-banner-main {
    margin-bottom: -4px;
}

.image-bann-main-1 {
    padding-left: 20px;
}


/* text-transform: capitalize; - Chữ đầu tiên của mỗi thành phần là chữ hoa. */

.content {
    font-family: 'SVN-Gilroy Bold';
    transition: 0.6s;
}

.content-banner-header {
    padding-block: 175px 205px;
}

.content-banner-main {
    align-items: center;
    padding-block: 64px 56px;
}

.content-banner-main-1 {
    text-align: right;
    /* trừ 16px của .container */
    padding-inline: 0 69px;
}

.content-banner-main-2 {
    text-align: left;
    padding-inline: 69px 0;
}

.content-banner-1 {
    font-size: 60px;
    font-weight: 800;
    line-height: 68px;
    text-transform: capitalize;
}

.content-banner-2 {
    font-size: 46px;
    line-height: 60px;
    text-transform: capitalize;
    margin-top: 4px;
}

.content-banner-3 {
    font-family: 'SVN-Gilroy Light';
    max-width: 480px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-block: 24px 34px;
    color: #242B33;
}

.heading-cont-bann-main {
    align-items: center;
    gap: 16px;
}

.cont-bann-1 {
    font-size: 52px;
}

.cont-bann-2 {
    font-size: 36px;
    line-height: 54px;
    margin-top: 2px;
}

.cont-bann-3 {
    font-size: 12px;
    line-height: 18px;
    width: 100%;
    max-width: 394px;
    margin-block: 7px 25px;
}

.button-banner {
    gap: 20px;
}

.button-banner-main-1 {
    justify-content: flex-end;
}

.button-banner-main-2 {
    justify-content: flex-start;
}

.view-intro {
    font-family: 'SVN-Gilroy Light';
    align-items: center;
    border-radius: 57px;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.5;
    padding: 12px 28px;
    font-weight: 600;
    color: #003459;
    gap: 8px;
    border: 1.6px solid #003459;
    background: none;
}

.view-intro svg {
    border: 1.6px solid;
    border-radius: 50px;
}

.explore-now {
    font-family: 'SVN-Gilroy Light';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    max-width: 163px;
    width: 100%;
    gap: 10px;
    color: #FDFDFD;
    background: #003459;
    padding: 12px 28px;
    border-radius: 57px;
    text-align: center;
}


/* =====SECTION CARD==== */

.subheading {
    color: #000;
    font-size: 16px;
    line-height: 24px;
}

.heading {
    color: #003459;
    font-family: 'SVN-Gilroy Bold';
    font-size: 24px;
    line-height: 36px;
    text-transform: capitalize;
}

.section-header {
    align-items: center;
}

.section-pet-seller {
    padding-block: 40px;
}

.section-heading-pet-seller {
    align-items: center;
    gap: 8px;
}

.section-heading {
    align-items: center;
}

.section-header__view-more {
    padding: 12px 28px;
    align-items: center;
    border-radius: 57px;
    border: 2px solid #003459;
    cursor: pointer;
}

.button-view-more {
    color: #003459;
    font-family: 'SVN-Gilroy Light';
    line-height: 20px;
    align-items: center;
    font-size: 14px;
    text-decoration: none;
    gap: 8px;
}

.section-card,
.section-content {
    margin-top: 28px;
}

.grid__item {
    /* background-color: blue; */
    /* width: 264px; */
    border-radius: 12px;
    overflow: hidden;
    background-color: #FDFDFD;
    box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
}

.card {
    gap: 8px;
}

.card-product {
    padding: 8px 8px 0 8px;
}

.card-article {
    padding: 8px;
}

.card__media {
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
}

.card__media-product {
    /* border: 1px solid; */
    aspect-ratio: 1;
}

.card__media img {
    width: 100%;
}

.card-body-product {
    font-family: 'SVN-Gilroy Bold';
    padding: 8px 8px 20px 8px;
}

.card-body-blog {
    padding: 8px;
}

.blog-tag {
    padding: 2px 10px;
    border-radius: 28px;
    color: #FDFDFD;
    font-size: 10px;
    line-height: 16px;
    background: #00A7E7;
}

.card-heading {
    font-size: 16px;
    line-height: 1.5;
    margin-block: unset;
    margin-inline: unset;
}

.card-blog-heading {
    margin-top: 10px;
}

.card-title {
    font-family: 'SVN-Gilroy Bold';
    text-decoration: none;
    color: #00171F;
}

.product-info {
    margin-block: 4px;
    color: #667479;
    font-size: 12px;
    line-height: 1.8;
    justify-content: flex-start;
    align-items: center;
}

.dot-grey {
    padding: 8px 8px;
}

.dot-dot-gr {
    width: 3px;
    height: 3px;
    border-radius: 10px;
    background: #667479;
}

.pro-font-light {
    font-family: 'SVN-Gilroy Light';
}

.product-price {
    font-size: 14px;
    line-height: 20px;
}

.product-gift {
    width: 100%;
    padding: 6px 10px 4px 10px;
    align-items: center;
    gap: 2px;
    align-self: stretch;
    border-radius: 8px;
    background: #FCEED5;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

.img-product-gift {
    width: 20px;
    height: 20px;
}

.dot-blue {
    padding: 10px 8px;
}

.dot-dot-bl {
    width: 4px;
    height: 4px;
    border-radius: 10px;
    background: #003459;
}

.cont-gift {
    color: #002A48;
    font-family: 'SVN-Gilroy Bold';
    font-size: 14px;
    line-height: 20px;
}

.card-content {
    font-size: 14px;
    line-height: 20px;
    margin-top: 4px;
}


/* ===PET SELLER=== */

.section-brand {
    /* border:  1px solid; */
    width: 100%;
    height: 112px;
    align-items: center;
    gap: 30px;
    justify-content: space-around;
}

.section-brand img {
    cursor: pointer;
    padding: 10px;
    object-fit: unset;
}

.image-brand-1 {
    width: 88px;
    height: 64px;
    padding: 0 16px;
}

.image-brand-2 {
    width: 114px;
    height: 114px;
}

.image-brand-3 {
    width: 104px;
    height: 46px;
}

.image-brand-4 {
    width: 92px;
    height: 64px;
}

.image-brand-5 {
    width: 92px;
    height: 92px;
}

.image-brand-6 {
    width: 130px;
    height: 56px;
}

.image-brand-7 {
    width: 116px;
    height: 72px;
}


/* ===FOOTER=== */

.section-footer {
    /* border:  1px solid  blue; */
    width: 100%;
    background: linear-gradient(103deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
    border-radius: 40px 40px 0 0;
    margin-top: 60px;
    padding-block: 80px 40px;
    overflow: hidden;
}

.container-footer {
    font-weight: 600;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 40px;
}

.register-contact {
    width: 100%;
    padding-bottom: 0;
    align-items: flex-start;
    border-bottom: 1px solid #CCD1D2;
    margin: 0 auto;
}

.register-form {
    width: 100%;
    padding: 32px;
    align-items: flex-start;
    gap: 20px;
    border-radius: 16px;
    background: #003459;
}

.cont-form-register {
    width: 35%;
    color: #FDFDFD;
    font-size: 24px;
    line-height: 36px;
    text-transform: capitalize;
    font-family: 'SVN-Gilroy Bold';
    font-weight: 500;
}

.form-your-email {
    width: 61%;
    padding: 12px;
    align-items: center;
    gap: 12px;
    border-radius: 14px;
    background: #FFF;
    color: #FDFDFD;
}

.input-email {
    width: 100%;
    padding: 14px 28px;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 8px;
    border: 1px solid;
    background: #FFF;
    border: 1px solid #99A2A5;
    font-size: 14px;
    line-height: 20px;
    font-family: 'SVN-Gilroy Light';
    font-weight: 600;
    outline: none;
}


/* opacity cho placeholder của input với thuộc tính ::-webkit-input-placeholder*/

.input-email::-webkit-input-placeholder {
    opacity: 0.6;
}

.btn-subcribe {
    max-width: 163px;
    width: 100%;
    padding: 12px 28px;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #003459;
    font-size: 16px;
    line-height: 24px;
    color: #FDFDFD;
    cursor: pointer;
    border: none;
}

.info-contact {
    width: 100%;
    align-items: flex-start;
    /* gap: 562px; */
    padding: 40px 0;
}

.info {
    align-items: flex-start;
    gap: 60px;
}

.info-content {
    color: #00171F;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}

.contact {
    align-items: center;
    gap: 40px;
    font-size: 24px;
    color: #00171F;
}

.content-footer {
    color: #667479;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin: 0 auto;
    width: 100%;
    align-items: center;
}

.terms-privacy {
    gap: 40px;
}

.terms-privacy-content {
    color: #667479;
}